.main {
  width: 70%;
  margin: 0 auto;
  .main_top_wrap {
    display: flex;
    position: relative;
    a {
      color: #000;
    }
    .postionA_right_wrap {
      display: flex;
      position: absolute;
      right: 0;
      div:nth-child(1) {
        margin-right: $size-16;
        line-height: $size-5;
      }
    }
  }
}
